* {
  transition: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 13px;
}

#waybar {
  background: rgba(40,42,54,0.7);
  border-radius: 12px;
  border: 2px solid #BD93F9;
}

#workspaces {
  padding-right:30px;
}

#workspaces button {
  padding: 0px;
  color: #BD93F9;
}

#workspaces button.active {
  color: #DEC9FC;
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#workspaces button.urgent {
  color: rgba(246,71,71,0.8);
}

#mode, #custom-kb,#custom-keyboard, #custom-forward,#custom-backward, #custom-github, #custom-youtube,  #custom-reddit, #custom-power, #workspaces, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight,  #clock, #temperature {
  margin: 4px 4px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
  color: #BD93F9;
}

#clock {
  margin: 4px 2px;
}


#temperature.critical {
  color: #800020;
}
